apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: go-build
spec:
  params:
    - name: image
      description: The name of the image to build
    - name:- name: dockerfile
      description: The path to the Dockerfile
      default: ./Dockerfile
    - name: context
      description: The path to the context
      default: .
  workspaces:
    - name: source
      description: The workspace containing the source code
  steps:
    - name: build
      image: gcr.io/kaniko-project/executor:v1.9.0
      args:
        - "--dockerfile=$(params.dockerfile)"
        - "--context=$(workspaces.source.path)/$(params.context)"
        - "--destination=$(params.image)"
